.music-canvas{
  transition: all 1s ease-in;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    cursor: none;
  }
}



.panel{
  position: relative;
}

.click-block{
  position: absolute;
  z-index: 2;
  animation: fade 0.2s ease-in;
}

@keyframes fade {
  0% {
    background: rgba(255,255, 255, 0.1)
  }
  100% {
    background: rgba(255,255, 255, 0.5)
  }
}